server:
  port: 8083

spring:

  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false



  datasource:
    url: jdbc:mysql://localhost:3307/board
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver



  data:
    web:
      pageable:
        max-page-size: 20000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
      show_sql: true




    sql:
      init:
        mode: never

  security:
    oauth2:
      client:
        registration:
          naver:
            client-name: naver
            client-id: 1dpNTCovSAQNfYmcCV9l
            client-secret: y57EAwsjlT
            redirect-uri: http://localhost:8083/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope:
              - name
              - email

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

jwt:
  secret: asdflkajsdgjqrewoitgujasdlkjadslgjasdfaa
  accessTokenExpiresIn: 3600000
  refreshTokenExpiresIn: 604800000

logging:
  config: classpath:logback-dev.xml
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
