server:
  port: 8083

spring:
  datasource:
    mysql: jdbc:mysql://localhost:3306/board
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
      show_sql: true

    sql:
      init:
        mode: never

jwt:
  secret:
  expiration: